<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 카테고리 관리 화면</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }

        .list table th, .list table td {
            border: solid 1px #000;
        }
        p.nothing {
            text-align: center;
            padding: 100px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

        });
    </script>


</head>

<body>

<h1>카테고리 관리</h1>

<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="list">

    <table>
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                카테고리명
            </th>
            <th>
                순서
            </th>
            <th>
                사용여부
            </th>
            <th>
                비고
            </th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>

</body>

</html>